<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        @Styles.Render("~/Content/bootstrap")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </head>
    <body>
        @Html.Partial("_navbar")
        <div class="container">
            <div class="col-lg-12" >
        
                @RenderBody()
            </div>
            
            
        </div>
    </body>
</html>
